<launch>
  <arg name="kinova_robotType" default="m1n6s200"/>
  <arg name="kinova_robotName" default="$(arg kinova_robotType)"/>  
  <arg name="use_trajectory_controller" default="true"/>
  <arg name="is7dof" default="false"/>
  
  
  <!--rosparam file="$(find kinova_control)/config/gazebo_controller.yaml" command="load" /-->

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find kinova_control)/config/$(arg kinova_robotName)_control.yaml" command="load"/>
 


  <group if="$(arg use_trajectory_controller)">
    <!-- Position Joint trajectory controller-->
    <node name="$(arg kinova_robotName)_trajectory_controller" pkg="controller_manager" type="spawner" 
      output="screen" ns="$(arg kinova_robotName)" 
      args="velocity_joint_trajectory_controller
      effort_finger_trajectory_controller    
      joint_state_controller"/>    
  </group>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">    
    <remap from="/joint_states" to="/$(arg kinova_robotName)/joint_states"/>    
  </node>
  
  <node name="command_robot_home_pose" pkg="kinova_control" type="move_robot.py"
        respawn="false" output="screen" args="$(arg kinova_robotType)">       
  </node>
 
</launch>
